[Desktop Entry]
Name=μNote Personal Note Taking
Exec=unote %f
Icon=accessories-text-editor
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
